<% include header %>
<body>
<div class="text-center">
    <h1>List of orders</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr class="">
            <th scope="col">Order name</th>
            <th scope="col">Number of orders</th>
        </tr>
        </thead>
        <tbody>
        <% result.forEach(function(item) { %>
            <tr class="">
                <td><%= item._id.orderIdem %></td>
                <td><%= item.count %></td>
            </tr>
        </tbody>
        <% }); %>
    </table>
    <a href="/">
        <input class = "btn-info" type="button" value="Back" />
    </a>
</div>
</body>
<% include footer %>
