<!DOCTYPE html>
<html>
<head>
    <title>Iliass Hilmi Tasks</title>
</head>

<body>
<h1>Aufgaben Assigned to Iliass Hilmi</h1>
<form method="post" action="/getorders">
    <h2>Aufgabe 1 </h2>
    <input type="text" name="companyName"  placeholder="Enter company name here" required>
    <input type="submit" value="Show all orderIdems">
</form>

<h2>Aufgabe 2 </h2>
<form method="post" action="/getordersofaddress">
    <input type="text" name="customerAddress"  placeholder="Enter company address here" required>
    <input type="submit" value="Show all orderIdems">
</form>


</body>
</html>