<% include header %>
<body>
<div class="text-center">
    <h1>List of orders</h1>
    <h3></h3>
     <ul>
        <% orderItem.forEach(function(item) { %>
            <li><%= item.orderIdem %> </li>
        <% }); %>
    </ul>
</div>
</body>
<% include footer %>

</html>