<% include header %>
<body>
<div class="text-center">
    <h1>List of orders</h1>
    <h3></h3>
     <ul>
        <% orderItem.forEach(function(item) { %>
            <li><%= item.orderIdem %> </li>
        <% }); %>
    </ul>
    <a href="/">
        <input class = "btn-info" type="button" value="Back" />
    </a>
</div>
</body>
<% include footer %>
